{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
